html, body {
    height: 100%;
    width: 100%;
}
.neo {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}
.hair {
    position: absolute;
    z-index: 10;
    width: 500px;
    height: 300px;
    border: 10px solid;
    border-radius: 400px 400px 0 0;
    background-color: black;
}
.facebox{
    position: absolute;
    top: 220px;
    left: 80px;
    z-index: 11;
    width: 350px;
    height: 100px;
    background-color: rgb(112, 140, 166);
}
.face {
    position: absolute;
    top: 190px;
    left: 45px;
    z-index: 5;
    width: 400px;
    height: 300px;
    border: 10px solid;
    border-radius: 0 0 400px 400px;
    background-color: rgb(112, 140, 166);
}
.eyes-right {
    position: absolute;
    z-index: 20;
    top: 230px;
    left: 90px;
    border-radius: 60px;
    border: 60px solid black;
}
.pupil-right-1 {
    position: absolute;
    z-index: 20;
    top: -45px;
    left: 10px;
    border-radius: 100%;
    border: 15px solid white;
}
.pupil-right-2 {
    position: absolute;
    z-index: 20;
    top: -10px;
    left: -2px;
    border-radius: 100%;
    border: 27px solid white;
}
.pupil-right-3 {
    position: absolute;
    z-index: 20;
    top: -45px;
    left: -50px;
    border-radius: 100%;
    border: 28px solid white;
}
.eyes-left {
    position: absolute;
    z-index: 20;
    top: 230px;
    left: 300px;
    border-radius: 60px;
    border: 60px solid black;
}
.pupil-left-1 {
    position: absolute;
    z-index: 20;
    top: -45px;
    left: 10px;
    border-radius: 100%;
    border: 15px solid white;
}
.pupil-left-2 {
    position: absolute;
    z-index: 20;
    top: -10px;
    left: -2px;
    border-radius: 100%;
    border: 27px solid white;
}
.pupil-left-3 {
    position: absolute;
    z-index: 20;
    top: -45px;
    left: -50px;
    border-radius: 100%;
    border: 28px solid white;
}
.nose {
    position: absolute;
    z-index: 40;
    top: 310px;
    left: 240px;
    border-radius: 30px;
    border: 17px solid black;
}
.mouth {
    position: absolute;
    top: 320px;
    left: 190px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border: 10px solid;
    border-radius: 100% 0 100% 100%;
    background-color: white;
}
.mouth2 {
    position: absolute;
    top: 320px;
    left: 250px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border: 10px solid;
    border-radius: 0 100% 100% 100%;
    background-color: white;
}
.ear-left {
    position: absolute;
    top: 39px;
    left: 38px;
    transform: rotate(-25deg);
}
.ear-right {
    position: absolute;
    top: 18px;
    left: 417px;
    transform: rotate(25deg);
}
.ear-1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 70px solid black;
}
.ear-2 {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 60px solid rgb(112, 140, 166);
}
.ear-3 {
    position: absolute;
    left: 12px;
    top: 35px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 35px solid black;
}
.ear-4 {
    position: absolute;
    left: 15px;
    top: 40px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid rgb(224, 128, 128);
}
.eyebrow-left {
    z-index: 999;
    position: absolute;
    top:81px;
    left: 36px;
}
.eyebrow-right {
    z-index: 999;
    position: absolute;
    top:81px;
    left: 245px;
}
.eysbrow-1 {
    position: absolute;
    top: 150px;
    left: 55px;
    width: 20px;
    border-radius: 10px;
    border: 4px solid black;
    transform: rotate(60deg);
}
.eysbrow-2 {
    position: absolute;
    top: 140px;
    left: 100px;
    width: 20px;
    border-radius: 10px;
    border: 4px solid black;
    transform: rotate(90deg);
}
.eysbrow-3 {
    position: absolute;
    top: 150px;
    left: 145px;
    width: 20px;
    border-radius: 10px;
    border: 4px solid black;
    transform: rotate(120deg);
}
.cheek-left {
    position: absolute;
    top: 360px;
    left: 85px;
    z-index: 999;
    width: 90px;
	height: 25px;
	background: rgb(219, 78, 80);
	border-radius: 50%;
}
.cheek-right {
    position: absolute;
    z-index: 999;
    top: 360px;
    left: 335px;
    width: 90px;
	height: 25px;
	background: rgb(219, 78, 80);
	border-radius: 50%;
}